<div class="container col-sm-12 col-md-6">
    <form style="margin:auto; margin-top: 100px;">
        <h2 style="text-align: center; margin-bottom: 25px;">Sign Up</h2>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Enter Your Username" name="username">
        </div>
      
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Enter Your Email" name="email">
        </div>
        
        <div class="input-container">
          <i class="fa fa-lock icon"></i>
          <input class="input-field" type="password" placeholder="Enter Your Password" name="password">
        </div>
      
        <div class="input-container">
            <i class="fa fa-clone icon"></i>
            <input class="input-field" type="password" placeholder="Enter Your Re-Password" name="re-password">
        </div>

        <button type="submit" class="btn">Register</button>
      </form>
    </div>