<div class="card">
    <!--<img src="../../assets/ghost.jpg" alt="Harsh" style="width:100%">-->
    <h1>Harsh Vekariya</h1>
    <h4 class="title">Student</h4>
    <h6>RK University</h6>
    <div class="row" style="margin: 24px 0;">
      <div class="col"><a href="#"><i class="fa fa-whatsapp"></i></a> </div>
      <div class="col"><a href="#"><i class="fa fa-instagram"></i></a></div>  
      <div class="col"><a href="#"><i class="fa fa-linkedin"></i></a> </div> 
      <div class="col"><a href="#"><i class="fa fa-facebook"></i></a> </div>
    </div>
    <p><button>Contact</button></p>
  </div>